body {
  margin: 0;
  color: #fff;
}

textarea, input{
  outline: none;
  border: 0;
  caret-color: #fff;
  color: #fff;
}
*:focus{
  outline: none;
  border: 0;
}
::-webkit-resizer {
  display: none;
}